{% extends "layout.html" %}
{% block title %}
FAQ
{% endblock %}
{% block content %}
<section class="pt-6 pt-md-8 pb-8 mb-md-8">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="row mb-6 mb-md-8">
              <div class="col-auto">

                <!-- Icon -->
                <div class="icon-circle bg-primary text-white">
                  <i class="fe fe-users"></i>
                </div>

              </div>
              <div class="col ml-n4">

                <!-- Heading -->
                <h2 class="font-weight-bold mb-0">
                  Frequently Asked Questions
                </h2>

<!--                &lt;!&ndash; Text &ndash;&gt;-->
<!--                <p class="font-size-lg text-gray-700 mb-0">-->
<!--                  Contact us directly if you don't find your answer here.-->
<!--                </p>-->

              </div>
            </div> <!-- / .row -->

            <!-- Card -->
            <div class="card shadow-light-lg accordion mb-5 mb-md-6" id="helpAccordionOne">
              <div class="list-group">
                <div class="list-group-item">

                  <!-- Header -->
                  <div class="d-flex align-items-center">
                    <div class="mr-auto">

                      <!-- Heading -->
                      <h4 class="font-weight-bold mb-0">
                        Applying for an House
                      </h4>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        Questions related to the process of buying a House under a LLC
                      </p>

                    </div>


                  </div>

                </div>
                <div class="list-group-item">

                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpOne" role="button" aria-expanded="false" aria-controls="helpOne">

                    <!-- Title -->
                    <span class="mr-4">
                     Will applying impact my credit score?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">
                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a>

                  <!-- Collapse -->
                  <div class="collapse" id="helpOne" data-parent="#helpAccordionOne">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        For the initial pre-qualification, no. Based on the information you provide, we will modelize your application and give you indicative rates on how much you could buy a house for.<br> <br> When you buy the house, Fundation will only do a soft credit check, which won’t affect your score.
                      </p>

                    </div>
                  </div>

                </div>
                <div class="list-group-item">

                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpTwo" role="button" aria-expanded="false" aria-controls="helpTwo">

                    <!-- Title -->
                    <span class="mr-4">
                     Do I still need a 20% downpayment?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">


                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpTwo" data-parent="#helpAccordionOne">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        We accept application with a minimum of 10% downpayment. A higher downpayment will strengthen your application (and decrease your overall month to month cost).
                      </p>

                    </div>
                  </div>

                </div>
                <div class="list-group-item">

                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpThree" role="button" aria-expanded="false" aria-controls="helpThree">

                    <!-- Title -->
                    <span class="mr-4">
                     Why buying under a LLC?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">


                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpThree" data-parent="#helpAccordionOne">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        A LLC is the legal setup that matches best owning a real estate property with several people. It is separate from anyone specific and allow a lot of flexibility to set the ownership and management rules of your choosing.
                      </p>

                    </div>
                  </div>

                </div>
                <div class="list-group-item">

                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpFour" role="button" aria-expanded="false" aria-controls="helpFour">

                    <!-- Title -->
                    <span class="mr-4">
                     Why Fundation is buying the house, and transferring it at the end?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpFour" data-parent="#helpAccordionOne">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                       When you get accepted and extend an offer on a house, Fundation will buy the house and enter in a lease agreement with you. This agreement will spread the cost of the house over 27 years. At the end of that period, you will have fully bought your property and Fundation will transfer the house to your own LLC, taking care of setting it up. No extra cost at the end of that period.
                      </p>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- Card -->
            <div class="card shadow-light-lg accordion" id="helpAccordionTwo">
              <div class="list-group">
                <div class="list-group-item">

                  <!-- Header -->
                  <div class="d-flex align-items-center">
                    <div class="mr-auto">

                      <!-- Heading -->
                      <h4 class="font-weight-bold mb-0">
                        Managing your LLC
                      </h4>

                      <!-- Text -->
                      <p class="font-size-sm text-muted mb-0">
                        Questions related to the managment of you LLC
                      </p>

                    </div>

                  </div> <!-- / .row -->

                </div>
                <div class="list-group-item">

                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpFive" role="button" aria-expanded="false" aria-controls="helpFive">

                    <!-- Title -->
                    <span class="mr-4">
                     What if one of the owner is not paying?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpFive" data-parent="#helpAccordionTwo">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        As a group of owner, you are all signing towards a monthly cost to buy the house. One common way to split that cost is to set a monthly rent per owner and for everyone to be responsible of their share. Bumps do happen though, and if for a month someone is not able to cover their share, others in the house will be required to do so. Fundation is built in a way that if someone is paying more (or covering for someone’s else), their share in the house ownership will increase proportionally to their increased payment.
                          <br>
                          Example:
                          <br>  <br>
                          If other owners cannot cover the missing payment, it will be extended to the following month with a penalty of 10% of your monthly payment.
                           <br>
                          After 3 months of missing payment, you will be evicted from the house.

                      </p>

                    </div>
                  </div>

                </div>
                <div class="list-group-item">

                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpSix" role="button" aria-expanded="false" aria-controls="helpSix">

                    <!-- Title -->
                    <span class="mr-4">
                     What if we want to sell?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpSix" data-parent="#helpAccordionTwo">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        Fundation introduces the notion of lease. After the first two years, and every subsequent year, owners can extend their leases, or not.
                        <br>
                          If you do not want to extend your lease, then it’s time to sell. You will be able to work with any broker of your choice, or work with us to sell the house at the price of your choice.
                        <br>
                          When you close your sell, Fundation will close the loan with the initial fund from the sale and send your way any additional gains on the sale.

                      </p>


                    </div>
                  </div>

                </div>
                <div class="list-group-item">

                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpSeven" role="button" aria-expanded="false" aria-controls="helpSeven">

                    <!-- Title -->
                    <span class="mr-4">
                      What are Fundation leases?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpSeven" data-parent="#helpAccordionTwo">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        Our leases are assets that define how you would like to manage your house. They are mainly used to clarify everything between the owners - who’s paying what, how shares of the house are spread, who lives in or rent it… Fundation store the lease and receive payments, as a 3rd party, to be that non-biaised stakeholder in the house mix.
                        <br>
                        The initial lease is for a duration of 2 years, and can be extended every year after that.
                        <br>
                        We have seen three scenarios when renewing a lease:
                          <br>
                        Keep things as is
                          <br>
                        Redefine payments and ownership (someone is able to chip in more and interested to acquire more of the house)
                        <br>
                        Not renew, and proceed to the sale of the house

                      </p>

                    </div>
                  </div>

                </div>
                <div class="list-group-item">

                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpEight" role="button" aria-expanded="false" aria-controls="helpEight">

                    <!-- Title -->
                    <span class="mr-4">
                      Is Fundation a loan?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpEight" data-parent="#helpAccordionTwo">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        No. Fundaton is not a lender and you are not getting a mortgage.
                      </p>

                    </div>
                  </div>

                </div>
                <div class="list-group-item">


                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpNine" role="button" aria-expanded="false" aria-controls="helpNine">

                    <!-- Title -->
                    <span class="mr-4">
                      What if only one person wants to cash out?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpNine" data-parent="#helpAccordionTwo">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        At the end of a lease, if someone wants out, Fundation will define their share of the house based on the payments that have been made to date. At that point, we will follow the sequence:
                        <br>
                          other owners will have the ability to buy that share back at the established price by Fundation, based on % of ownership and estimated house value
                        <br>
                          the owner who wants to leave will be able to offer their share to external people interested to join-in, but other owners will have a right of first refusal
                        <br>
                          If none of these options are successful, the lease will be discontinued and the house will be for sale

                      </p>

                    </div>
                  </div>

                </div>
                  <div class="list-group-item">


                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpTen" role="button" aria-expanded="false" aria-controls="helpTen">

                    <!-- Title -->
                    <span class="mr-4">
                      What about closing costs?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpTen" data-parent="#helpAccordionTwo">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        We have integrated most of the services required to close on a house, which allows us to provide a no-surprise, low fee at the time of closing of 2% (~ half of the market price).
                      </p>

                    </div>
                  </div>

                </div>
                  <div class="list-group-item">


                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpEleven" role="button" aria-expanded="false" aria-controls="helpEleven">

                    <!-- Title -->
                    <span class="mr-4">
                      Are there any other costs?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpEleven" data-parent="#helpAccordionTwo">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        We have interest (tbd)
                      </p>

                    </div>
                  </div>

                </div>
                  <div class="list-group-item">


                  <!-- Toggle -->
                  <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#helpTwelve" role="button" aria-expanded="false" aria-controls="helpTwelve">

                    <!-- Title -->
                    <span class="mr-4">
                      Is it possible to pay monthly costs by credit card?
                    </span>

                    <!-- Metadata -->
                    <div class="text-muted ml-auto">

                      <!-- Chevron -->
                      <span class="collapse-chevron text-muted">
                        <i class="fe fe-lg fe-chevron-down"></i>
                      </span>

                    </div>

                  </a> <!-- / .row -->

                  <!-- Collapse -->
                  <div class="collapse" id="helpTwelve" data-parent="#helpAccordionTwo">
                    <div class="py-5">

                      <!-- Text -->
                      <p class="text-gray-700">
                        Yes
                      </p>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- Divider -->
            <hr class="border-gray-300 my-6 my-md-8">

<!--            &lt;!&ndash; Header &ndash;&gt;-->
<!--            <h3 class="font-weight-bold">-->
<!--              Contact us directly if you don't find your answer here.-->
<!--            </h3>-->

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-8">
              Contact us directly if you don't find your answer here.
            </p>


          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endblock %}