{% extends "layout.html" %}
{% block title %}
 Contact
{% endblock %}
{% block content %}
   <!-- CONTENT
    ================================================== -->
    <section>
      
            <!-- Content -->
            <div class="container d-flex flex-column">
              <div class="row align-items-center justify-content-between no-gutters min-vh-100">
                <div class="col-12 col-md-5 align-self-stretch">
      
                  <!-- Image (mobile) -->
                  <img src="{{url_for('.static', filename='assets/img/photos/photo-5.jpg')}}" class="d-md-none img-cover" alt="...">
      
                  <!-- Image -->
                  <div class="d-none d-md-block vw-50 h-100 float-right bg-cover" style="background-image: url(/static/assets/img/covers/cover-10.jpg);"></div>
      
                </div>
                <div class="col-12 col-md-6 py-8 py-md-11">
                  
                  <!-- Heading -->
                  <h2 class="font-weight-bold text-center mb-2">
                    Contact us for anything.
                  </h2>
      
                  <!-- Text -->
                  <p class="font-size-lg text-center text-muted mb-0">
                    Our goal is to be as helpful as possible. 
                  </p>
      
                  <!-- Divider -->
                  <hr class="hr-sm my-6 my-md-8 border-gray-300">

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                          {{ message }}
                        </div>

                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

                  <!-- Form -->
                  <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="form-group mb-5">

                     <p>
                        {{ form.full_name.label }}:
                        {{ form.full_name(class="form-control",placeholder="Full name",type="text",id="contactName") }}
                        {% for error in form.full_name.errors  %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                     </p>
      
                    </div>
                    <div class="form-group mb-5">

      
                      <!-- Input -->
                      <p>
                        {{ form.email.label }}:
                        {{ form.email(class="form-control",placeholder="hello@domain.com" ,id="contactEmail",type="email") }}
                        {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                      </p>
      
                    </div>
                    <div class="form-group mb-5 d-none">
                      
                      <!-- Label -->
                      <label for="contactMessage">
                        What can we help you with?
                      </label>
      
                      <!-- Input -->
                      <textarea class="form-control" id="contactMessage" rows="5" placeholder="Tell us what we can help you with!"></textarea>
      
                    </div>
                    <div class="form-group mb-0">
                      
                      <!-- Submit -->
                        <p>{{ form.submit(class="btn btn-block btn-primary lift",href="#!") }}</p>
      
                    </div>
                  </form>
      
                </div>
              </div> <!-- / .row -->
            </div>
    </section>
{% endblock %}